$fw: 400;
$fw_sb: 600;
$fw_b: 700;
$size_0: 0;
$size_3xs: 0.15rem;
$size_2xs: 0.3rem;
$size_xs: 0.5rem;
$size_sm: 0.875rem;
$size_md: 0.990rem;
$size: 1rem;
$size_mdl: 1.14rem;
$size_lg: 1.3rem;
$size_xl: 1.5rem;
$size_2xl: 1.8rem;
$size_3xl: 2rem;
$size_4xl: 2.5rem;
$border: #e7edfd;
$primary: #00D8C5;
$secondary: #009D97;
$active: #597CFA;
$active_light: #D4DDFF;
$inactive: #7E8397;
$inactive_light: #D8D8D8;
$success: #00C369;
$success_light: #96c819;
$note: #FFE000;
$note_light: #fef8d0;
$warning: #e29304;
$warning_light: #ffe18a;
$info_light: #ffeccc;
$danger: #ff3c1e;
$danger_light: #ffc4bb;
$gray100: #f7fafc;
$gray200: #edf2f7;
$gray300: #e2e8f0;
$gray400: #cbd5e0;
$gray500: #a0aec0;
$gray600: #718096;
$gray700: #4a5568;
$gray800: #2d3748;
$gray900: #1a202c;
$duration: 0.25s ease-in-out;
$radius_sm: $size_3xs;
$radius: $size_2xs;
$radius_lg: $size_sm;
$primaryBgColor: #040332;
$primaryTextColor: #fff;
$primarySubTextColor: #8186A4;
$primaryBgColorHover: #1147bb;
$primaryTextColorHover: #fff;

:export {
  fw: $fw;
  fw_sb: $fw_sb;
  fw_b: $fw_b;
  size_0: $size_0;
  size_3xs: $size_3xs;
  size_2xs: $size_2xs;
  size_xs: $size_xs;
  size_sm: $size_sm;
  size_md: $size_md;
  size: $size;
  size_mdl: $size_mdl;
  size_lg: $size_lg;
  size_xl: $size_xl;
  size_2xl: $size_2xl;
  size_3xl: $size_3xl;
  size_4xl: $size_4xl;
  border: $border;
  primary: $primary;
  secondary: $secondary;
  active: $active;
  active_light: $active_light;
  inactive: $inactive;
  inactive_light: $inactive_light;
  success: $success;
  success_light: $success_light;
  note: $note;
  note_light: $note_light;
  warning: $warning;
  warning_light: $warning_light;
  danger: $danger;
  danger_light: $danger_light;
  gray100: $gray100;
  gray200: $gray200;
  gray300: $gray300;
  gray400: $gray400;
  gray500: $gray500;
  gray600: $gray600;
  gray700: $gray700;
  gray800: $gray800;
  gray900: $gray900;
  duration: $duration;
  radius_sm: $radius_sm;
  radius: $radius;
  radius_lg: $radius_lg;
  primaryBgColor: $primaryBgColor;
  primaryTextColor: $primaryTextColor;
  primarySubTextColor : $primarySubTextColor;
  primaryBgColorHover: $primaryBgColorHover;
  primaryTextColorHover: $primaryTextColorHover;
}
